// =========================================================
// MIXINS
// =========================================================
//Set font size in rem and provide pixel fallback
@mixin font-size($sizeValue: 1.3) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

%group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// =========================================================
// COMMON CLASSES
// =========================================================


// =========================================================
// FURNITURE
// =========================================================
::selection {
	background-color: $color-primary;
	color: $white;
}
html {
	font-family: $fontFamily;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	@include box-sizing (border-box); 
}
body {
	background-color: $color-backgroundBody;
}
img {
	max-width: 100%;
}

// =========================================================
// PAGE LAYOUT & BASIC STYLES
// =========================================================

.site-header {
	background-color: $color-black25;
	color: $color-accent;
	float: left;
	height: 100%;
	padding-top: 40px;
	position: fixed;
	text-align: center;
	width: 265px; 

	.site-logo {
		margin-bottom: 4.5em;
	}
}

.nav-header ul {
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	overflow: hidden;

	li {
		background-color: $color-black50;
		border-bottom: 1px solid $color-black25;
		float: left;
		list-style-type: none;
		width: 100%;

		a {
			color: $color-accent;
			display: block;
			font-weight: 700;
			padding: 18px 12px;
			padding: 1.8rem 1.2rem;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				color: $white;
			}
		}
		&.current-menu-item {
			background-color: $color-primary;
			a {
				color: $white;
			}
		}
	}
}
	
.site-info {
	margin-top: 2em;
	padding: 25px;
	padding: 2.5rem;

	&:after {
		content: '';
		width: 80px;
		height: 1px;
		display: block;
		margin: 0 auto;
		background: #8f8f8f;
	}
	p {
		color: lighten($color-accent, 23);
		line-height: 17px;
		line-height: 1.7rem;
		margin-bottom: 1.7em;
	}
}

.site-footer p {
	font-weight: 700;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.site-inner {
	margin-left: 265px;
	padding: 4em 5em;
}

.post {
	background-color: #fff;
	max-width: 850px;
	@include box-shadow (0px 1px 0px rgba(170, 170, 170, 0.4));
}

.date {
	background: #3b3b3b;
	color: $white;
	display: inline-block;
	margin-bottom: 1em;
	padding: 7px 30px 10px;
	text-transform: uppercase;
	@include font-size(1.5);
}

.clock {
	font-family: "Icon";
	padding-right: 7px;
	@include font-size(3.3);
}

.port-title {
	color: $color-black50;
	font-weight: 300;
}

.port-info {
	padding: 0 4em;
}

.tags p {
	color: $color-primary;
}


// =========================================================
// CONTENT BOILER PLATE
// =========================================================
h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
	font-style: $headerFontStyle;
	font-weight: $headerFontWeight;
}
h1 {
	@include font-size(3.7);
	a {}
}
h2 {
	@include font-size(3.0);
	a {}
}
h3 {
	@include font-size(2.5);
	a {}
}
h4 {
	@include font-size(2.1);
	a {}
}
h5 {
	@include font-size(1.9);
	a {}
}
h6 {
	@include font-size(1.6);
	a {}
}
p {
	color: $bodyFontColor;
	font-style: $bodyFontStyle;
	font-weight: $bodyFontWeight;
	@include font-size(1.3);
}
a {
	@extend p;
	text-decoration: none;
}
a, 
button, 
input:focus, 
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
textarea {
	@include transition(all 0.2s ease-in-out);
}

a img { border: 0; }

// Formating for all page/post content
.forPost, .forPage, .content {
	p {}
	ul, ol { 
		li {}
	}
	dl {}
	dt {}
	dd {}
	pre {}
	blockquote {}
}


// =========================================================
// WORDPRESS STYLES
// =========================================================
// Wordpress User Generated Content
.alignnone, a img.alignnone, .wp-caption.alignnone {}
.aligncenter, div.aligncenter, a img.aligncenter {}
.alignright, a img.alignright, .wp-caption.alignright {}
.alignleft, a img.alignleft, .wp-caption.alignleft {}
.wp-caption {
	img {}
	p.wp-caption-text {}
}