// =========================================================
// MENU
// =========================================================
a.menu-link {
    float: right;
    display: block;
    padding: 1em;
}

nav[role=navigation]{
	clear: both;
	@include transition (all 0.3s ease-out);

	.js & {
		overflow: hidden;
		max-height: 0;
	}
	&.active {
		max-height: 15em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li a {
		display: block;
		padding: 0.8em;
	}
}

@media screen and (min-width: 1183px) {
	a.menu-link {
	   display: none;
	}

	nav[role=navigation] {
		.js & {
			max-height: none;
		}
		ul {
			margin: 0 0 0 -0.25em;
			border: 0;
		}
		li {
			display: inline-block;
			margin: 0 0.25em;
			a {
				border: 0;
			}
		}
	}
}