// =========================================================
// MIXINS
// =========================================================
//Set font size in rem and provide pixel fallback
@mixin font-size($sizeValue: 1.3) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

%group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%smallTitle {
	font-weight: 700;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	@include font-size(1.3);
}

%padding {
	padding: 4em;
}

// =========================================================
// FURNITURE
// =========================================================
::selection {
	background-color: $color-primary;
	color: $white;
}

* {
	position: relative;
	@include transition(color 300ms, background 300ms);
	@include box-sizing(border-box);
}

html {
	font-family: $fontFamily;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	@include box-sizing (border-box); 
}

body {
	background-color: $color-backgroundBody;
}

img {
	max-width: 100%;
}


// =========================================================
// PAGE LAYOUT & BASIC STYLES
// =========================================================

// Header
.site-header {
	background-color: $color-black25;
	color: $color-accent;
	text-align: center;
	@media(min-width: 1183px) {
		width: 265px;
		position: fixed;
		padding-top: 40px;
		height: 100%;
		float: left;
	}

	.site-logo {
		margin-bottom: 1.75em;
	}
}

.nav-header ul {
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	overflow: hidden;

	li {
		background-color: $color-black50;
		border-bottom: 1px solid $color-black25;
		float: left;
		list-style-type: none;
		width: 100%;

		a {
			color: $color-accent;
			display: block;
			font-weight: 700;
			padding: 18px 12px;
			padding: 1.8rem 1.2rem;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				color: $white;
			}
		}
		&.current-menu-item {
			background-color: $color-primary;
			a {
				color: $white;
			}
		}
	}
}
	
.site-info {
	display: none;
	@media (min-width: 1183px) {
		display: block;
		margin-top: 2em;
		padding: 25px;
		padding: 2.5rem;
	}

	&:after {
		content: '';
		width: 80px;
		height: 1px;
		display: block;
		margin: 0 auto;
		background: #8f8f8f;
	}
	p {
		color: lighten($color-accent, 23);
		line-height: 17px;
		line-height: 1.7rem;
		margin-bottom: 1.7em;
	}
}

.site-footer p {
	display: none;
	@media (min-width: 1183px) {
		display: block;
		font-weight: 700;
		letter-spacing: 1px;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}
}

//Page
.site-inner {
	padding: 4em 5em;
	@media (min-width: 1183px) {
		margin-left: 265px;
	}
}

//Post
.post {
	background-color: $white;
	margin: 0 auto 5em;
	max-width: 850px;
	@include box-shadow (0px 1px 1px rgba(170, 170, 170, 0.4));
	@extend %group;
	@media (min-width: 1183px) {
		margin: 0 0 5em;
	}

	.tags {
		color: $color-primary;
		padding-top: 1em;
		& a {
			@extend .tags;
		}
	}
}

.port-thumbnail {
	float: left;
	z-index: 50;
	overflow: hidden;
	@media (min-width: 877px) {
		margin-right: 5%;
	}

	a {
		display: block;
	}
	.icon {
		width: 1em;
		height: 1em;
		position: absolute;
		left: 50%;
		font-size: 5em;
		text-align: center;
		padding: 0.35em 0;
		background-color: #fff;
		color: $black;
		@include border-radius(5em);
	}
	.link {
		cursor: pointer;
		top: -1em;
		margin-top: -0.5em;
		margin-left: -1.25em;
		@include transition(top 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.look {
		bottom: -1em;
		margin-bottom: -0.5em;
		margin-left: 0.25em;
		@include transition(bottom 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.overlay {
		z-index: 52;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&:hover {
		.overlay {
			background-color: rgba($color-primary, 0.6);
		}
		.link {
			top: 50%;
		}
		.look {
			bottom: 50%;
		}
	}
	img {
		display: block;
	}
}

.date {
	background: $color-black25;
	color: $white;
	display: inline-block;
	margin-bottom: 1em;
	padding: 7px 30px 10px;
	text-transform: uppercase;
	@include font-size(1.5);
}

.icon {
	font-family: "Icon";
}

.clock {
	@extend .icon;
	padding-right: 7px;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
	@include font-size(3.3);
}

.port-title {
	color: $color-black50;
	font-weight: 300;
}

.port-info {
	padding: 0 4em;
	p a {
		color: $color-primary;
		text-decoration: underline;
	}
}

.tags p {
	color: $color-primary;
}

.page-numbers {
	background: $color-accent;
	border-radius: 3px;
	color: $white;
	font-size: 13px;
	padding: 1em;
	&:hover {
		background: darken($color-accent, 15);
	}
}

// =========================================================
// PAGES
// =========================================================

.single .post {
	@extend %padding;
}


.about {
	@extend %padding;
	h2 {

	}
	h3 {
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	hr {
		
	}
	ul {
		list-style: disc;
		margin-left: 3em;
	}
}

// =========================================================
// CONTENT BOILER PLATE
// =========================================================
h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
	font-style: $headerFontStyle;
	font-weight: $headerFontWeight;
	text-rendering: optimizeLegibility;
}
h1 {
	@include font-size(3.7);
	a {
		@extend h1;
	}
	.archive & {
		padding-bottom: 0.500em;
	}
}
h2 {
	@include font-size(3.0);
	a {
		@extend h2;
	}
}
h3 {
	line-height: 1;
	margin: 1.5em 0 0.5em;
	padding-bottom: 0.15em;
	@include font-size(2.5);
	a {
		@extend h3;
	}
}
h4 {
	@include font-size(2.1);
	a {
		@extend h4;
	}
}
h5 {
	@include font-size(1.9);
	a {
		@extend h5;
	}
}
h6 {
	@include font-size(1.6);
	a {
		@extend h6;
	}
}
p,
li {
	color: $bodyFontColor;
	font-style: $bodyFontStyle;
	font-weight: $bodyFontWeight;
	line-height: 19px;
	line-height: 1.9rem;
	@include font-size(1.3);
}
a {
	@extend p;
	text-decoration: none;
}
a, 
button, 
input:focus, 
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
textarea {
	@include transition(all 0.2s ease-in-out);
}

a img { border: 0; }


// =========================================================
// ANIMATIONS
// =========================================================

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}