// =========================================================
// MIXINS
// =========================================================
//Set font size in rem and provide pixel fallback
@mixin font-size($sizeValue: 1.3) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

%group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%smallTitle {
	font-weight: 700;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	@include font-size(1.3);
}

// =========================================================
// FURNITURE
// =========================================================
::selection {
	background-color: $color-primary;
	color: $white;
}

* {
	position: relative;
	@include transition(color 300ms, background 300ms);
	@include box-sizing(border-box);
}

html {
	font-family: $fontFamily;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	@include box-sizing (border-box);
}

body {
	background-color: $color-backgroundBody;
}

img {
	height: auto;
	max-width: 100%;
	a & {
		border: 0;
	}
}

.col-half {
	@media(min-width: 768px) {
		float: left;
		width: 50%;
	}
}

.col-third {
	@media(min-width: 768px) {
		float: left;
		width: 33.333%;
	}
}


// =========================================================
// PAGE LAYOUT & BASIC STYLES
// =========================================================

// Header
.site-header {
	background-color: $color-black25;
	color: $color-accent;
	text-align: center;
	@media(min-width: 1183px) {
		width: 265px;
		position: fixed;
		padding: 40px 0 0;
		height: 100%;
		float: left;
	}

	.site-logo {
		display: inline-block;
		float: left;
		width: 60px;
		@media(min-width: 768px) {
			width: 90px;
		}
		@media(min-width: 1183px) {
			float: none;
			margin-bottom: 1.75em;
			width: 131px;
		}
	}
}

.site-header-wrapper {
	@extend %group;
	margin: 0 auto;
	max-width: 950px;
	padding: 2em;
	@media (min-width: 768px) {
		padding: 2em 5em;
	}
}

.nav-header ul {
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	overflow: hidden;

	li {
		background-color: $color-black50;
		border-bottom: 1px solid $color-black25;
		float: left;
		list-style-type: none;
		width: 100%;

		a {
			color: $color-accent;
			display: block;
			font-weight: 700;
			padding: 18px 12px;
			padding: 1.8rem 1.2rem;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				color: $white;
			}
		}
		&.current-menu-item {
			background-color: $color-primary;
			a {
				color: $white;
			}
		}
	}
}

.single .menu-item-home {
	@extend .current-menu-item;
}

.site-info {
	display: none;
	@media (min-width: 1183px) {
		display: block;
		margin-top: 2em;
		padding: 25px;
		padding: 2.5rem;
	}

	&:after {
		content: '';
		width: 80px;
		height: 1px;
		display: block;
		margin: 0 auto;
		background: #8f8f8f;
	}
	p {
		color: lighten($color-accent, 23);
		line-height: 19px;
		line-height: 1.9rem;
		margin-bottom: 2.1em;
	}
}

.site-footer p {
	display: none;
	@include font-size(1.2);
	@media (min-width: 1183px) {
		display: block;
		font-weight: 700;
		letter-spacing: 1px;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}
}

//Page
.site-inner {
	padding: 2em;
	@media (min-width: 768px) {
		padding: 4em 5em;
	}
	@media (min-width: 1183px) {
		margin-left: 265px;
	}
}

//Post Content
.post,
.page-content {
	background-color: $white;
	margin: 0 auto 5em;
	max-width: 850px;
	@include box-shadow (0px 1px 1px rgba(170, 170, 170, 0.4));
	@extend %group;
	@media (min-width: 1183px) {
		margin: 0 0 5em;
	}

	.tags {
		color: $color-primary;
		padding-top: 1em;
		& a {
			@extend .tags;
		}
	}
}

.port-thumbnail {
	float: left;
	z-index: 50;
	overflow: hidden;
	@media (min-width: 877px) {
		margin-right: 5%;
	}

	a {
		display: block;
	}
	.icon {
		width: 1em;
		height: 1em;
		position: absolute;
		left: 50%;
		font-size: 5em;
		text-align: center;
		padding: 0.35em 0;
		background-color: #fff;
		color: $black;
		@include border-radius(5em);
	}
	.link {
		cursor: pointer;
		top: -1em;
		margin-top: -0.5em;
		margin-left: -1.25em;
		@include transition(top 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.look {
		bottom: -1em;
		margin-bottom: -0.5em;
		margin-left: 0.25em;
		@include transition(bottom 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.overlay {
		z-index: 52;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&:hover {
		.overlay {
			background-color: rgba($color-primary, 0.6);
		}
		.link {
			top: 50%;
		}
		.look {
			bottom: 50%;
		}
	}
	img {
		display: block;
	}
}

.date {
	background: $color-black25;
	color: $white;
	display: inline-block;
	margin-bottom: 1.5em;
	padding: 7px 30px 10px;
	text-transform: uppercase;
	@include font-size(1.5);
}

.icon {
	font-family: "Icon";
}

.clock {
	@extend .icon;
	padding-right: 7px;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
	@include font-size(3.3);
}

.port-title {
	color: $color-black50;
	font-weight: 300;
}

.port-info {
	padding: 0 4em 3em;
	p a {
		color: $color-primary;
		text-decoration: underline;
	}
}

.tags p {
	color: $color-primary;
}

.page-numbers {
	background: $color-primary;
	border-bottom: 2px solid $color-primaryBorder;
	border-radius: 3px;
	color: $white;
	font-size: 13px;
	padding: 1em;
	&:hover {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
	&.current {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
}

// =========================================================
// PAGES
// =========================================================
.single .post,
.page-content {
	padding: 2em;
	@media(min-width: 768px) {
		padding: 4em;
	}
}

.page-intro {
	color: $color-pageIntro;
	line-height: 26px;
	line-height: 2.6rem;
	margin: -0.5em auto 1.8em;
	text-align: center;
	@include font-size(1.6);
	@media (min-width: 768px) {
		max-width: 600px;
	}
}

// About
.page-content {
	h3 {
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	ul {
		list-style: disc;
		margin-left: 3em;
	}
}

.page-title {
	font-weight: 900;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	&:after {
		background-color: $color-primary;
		content: '';
		display: block;
		font-size: 30px;
		height: 2px;
		margin: 0.5em auto 1em;
		width: 3em;
	}
}

// Contact
.map {
	border-radius: 5px;
	overflow: hidden;
}

.contact-form {
	padding-right: 15px;
}

.page-contact .sidebar {
	padding-left: 15px;
}

.point {
	background: $color-primary;
	border-radius: 50%;
	display: block;
	height: 15px;
	left: 132px;
	position: absolute;
	top: 140px;
	width: 15px;

	.glow {
		background: transparent;
		border: 1px solid rgba(241, 110, 82, 0.6);
		border-radius: 50%;
		box-shadow: $color-primary 2px 2px 40px 0px;
		display: block;
		height: 35px;
		left: -10px;
		position: relative;
		top: -10px;
		width: 35px;
	}
}

span.wpcf7-not-valid-tip {
	background: #f16e52;
	border: 0;
	color: $white;
	padding: 0.5em;
	top: -9px;
	@include border-radius (5px);
}

.wpcf7-submit {
	background: $color-primary;
	border-bottom: 2px solid $color-primaryBorder;
	border-radius: 3px;
	color: $white;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 15px;
	text-transform: uppercase;
	&:hover {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
}

div.wpcf7-validation-errors {
	background: #eee;
	border: 0;
	font-size: 14px;
	margin: 0;
	padding: 1em;
	@include border-radius (5px);
}


// =========================================================
// CONTENT BOILER PLATE
// =========================================================
h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
	font-style: $headerFontStyle;
	font-weight: $headerFontWeight;
	text-rendering: optimizeLegibility;
	a:hover {
		color: $color-primary;
	}
}
h1 {
	@include font-size(3.7);
	a {
		@extend h1;
	}
	.archive & {
		padding-bottom: 0.500em;
	}
}
h2 {
	@include font-size(3.0);
	a {
		@extend h2;
	}
}
h3 {
	line-height: 1;
	margin: 1em 0 0.5em;
	padding-bottom: 0.15em;
	@include font-size(2.5);
	a {
		@extend h3;
	}
}
h4 {
	@include font-size(2.1);
	a {
		@extend h4;
	}
}
h5 {
	@include font-size(1.9);
	a {
		@extend h5;
	}
}
h6 {
	@include font-size(1.6);
	a {
		@extend h6;
	}
}

p,
li {
	color: $bodyFontColor;
	font-style: $bodyFontStyle;
	font-weight: $bodyFontWeight;
	line-height: 22px;
	line-height: 2.2rem;
	@include font-size(1.4);
}

a {
	@extend p;
	text-decoration: none;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea {
	@include transition(all 0.2s ease-in-out);
}

input,
input[type="password"],
input[type="search"],
textarea {
	background: #f1f1f1;
	border: 0;
	color: $color-textTitle;
	line-height: 1.5;
	margin-bottom: 0.800em;
	padding: 12px;
	padding: 1.2rem;
	width: 100%;
	@include border-radius (5px);
	@include font-size(1.4);
}

textarea {
	line-height: 1;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
    margin: 3em 0;
}


// =========================================================
// ANIMATIONS
// =========================================================

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

// Glowing Map Marker
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;

	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

@-webkit-keyframes pulse{
	0%{
		-webkit-transform:scale(0.32);opacity:.8;
	}
	50%{
		opacity:1;
	}
	85%{
		-webkit-transform:scale(1);
	}
	100%{
		-webkit-transform:scale(1);opacity:0;
	}
}

@-webkit-keyframes reset{
	0%{
		top:-5px;opacity:0;
	}
	100%{
		top:0;opacity:1;
	}
}

@-moz-keyframes pulse{
	0%{
		-moz-transform:scale(0.32);opacity:.8;
	}
	50%{
		opacity:1;
	}
	85%{
		-moz-transform:scale(1);
	}
	100%{
		-moz-transform:scale(1);opacity:0;
	}
}

@-moz-keyframes reset{
	0%{
		top:-5px;opacity:0;
	}
	100%{
		top:0;opacity:1;
	}
}

@keyframes pulse{
	0%{
		transform:scale(0.32);opacity:.8;
	}
	50%{
		opacity:1;
	}
	85%{
		transform:scale(1);
	}
	100%{
		transform:scale(1);opacity:0;
	}
}

@keyframes reset{
	0%{
		top:-5px;opacity:0;
	}
	100%{
		top:0;opacity:1;
	}
}