// =========================================================
// MIXINS
// =========================================================
//Set font size in rem and provide pixel fallback
@mixin font-size($sizeValue: 1.3) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

//Set border radius to default 2px for easy changing
@mixin borderRadius($radius: 2px) {
	background-clip: padding-box;  // stops bg color from leaking outside the border
	@include border-radius ($radius);
}

//Clearfix
%group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// =========================================================
// FURNITURE
// =========================================================
::selection {
	background-color: $color-primary;
	color: $white;
}

* {
	position: relative;
	@include transition(color 300ms, background 300ms);
	@include box-sizing(border-box);
}

html {
	font-family: $fontFamily;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	@include box-sizing (border-box);
}

body {
	background: $color-backgroundBody;
}

img {
	height: auto;
	max-width: 100%;
	a & {
		border: 0;
	}
}

.col-half {
	@media(min-width: 768px) {
		float: left;
		width: 50%;
	}
}

.col-third {
	@media(min-width: 768px) {
		float: left;
		width: 33.333%;
	}
}


// =========================================================
// PAGE LAYOUT & BASIC STYLES
// =========================================================

// Header
.site-header {
	background-color: $color-black25;
	color: $color-accent;
	text-align: center;
	@media(min-width: 1183px) {
		width: 265px;
		position: fixed;
		padding: 40px 0 0;
		height: 100%;
		float: left;
	}

	.site-logo {
		display: inline-block;
		float: left;
		width: 60px;
		@media(min-width: 480px) {
			width: 90px;
		}
		@media(min-width: 1183px) {
			float: none;
			margin-bottom: 1.75em;
			width: 131px;
		}
	}
}

.site-header-wrapper {
	@extend %group;
	margin: 0 auto;
	max-width: 950px;
	padding: 2em;
	@media (min-width: 480px) {
		padding: 2em 5em 1em;
	}
}

.nav-header ul {
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	overflow: hidden;

	li {
		background-color: $color-black50;
		border-bottom: 1px solid $color-black25;
		float: left;
		list-style-type: none;
		width: 100%;

		a {
			color: $color-accent;
			display: block;
			font-weight: 700;
			padding: 18px 12px;
			padding: 1.8rem 1.2rem;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				color: $white;
			}
		}
		&.current-menu-item {
			background-color: $color-primary;
			a {
				color: $white;
			}
		}
	}
}

.single .menu-item-home {
	@extend .current-menu-item;
}

.site-info {
	display: none;
	@media (min-width: 1183px) {
		display: block;
		padding: 45px 25px 30px;
		padding: 4.5rem 2.5rem 3.0rem;
	}
	&:after {
		content: '';
		width: 80px;
		height: 1px;
		display: block;
		margin: 0 auto;
		background: #8f8f8f;
	}
	p {
		color: lighten($color-accent, 23);
		line-height: 19px;
		line-height: 1.9rem;
		margin-bottom: 2.1em;
	}
}

.site-footer {
	display: none;
	@media (min-width: 1183px) {
		display: block;
	}
	p {
		font-weight: 700;
		letter-spacing: 1px;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		@include font-size(1.2);
	}
	.social {
		@extend %group;
		display: block;
		padding-bottom: 1em;
		a {
			display: inline;
			font-weight: $fontSocialWeight;
			@include font-size(5);
			&:hover {
				color: #C3C3C3;
			}
		}
	}
}

//Page
.site-inner {
	padding: 2em;
	@media (min-width: 480px) {
		padding: 4em 5em;
	}
	@media (min-width: 1183px) {
		margin-left: 265px;
	}
}

//Post Content
.post,
.page-content {
	@extend %group;
	background-color: $white;
	margin: 0 auto 5em;
	max-width: 850px;
	@include box-shadow (0px 1px 1px rgba(170, 170, 170, 0.4));
	@media (min-width: 1183px) {
		margin: 0 0 5em;
	}

	.tags {
		color: $color-primary;
		padding-top: 1em;
		& a {
			@extend .tags;
		}
	}
}

.port-thumbnail {
	float: left;
	overflow: hidden;
	z-index: 50;
	@media (min-width: 877px) {
		margin-right: 5%;
	}

	a {
		display: block;
	}
	.icon {
		background-color: #fff;
		color: $black;
		height: 1em;
		left: 50%;
		padding: 0.35em 0;
		position: absolute;
		text-align: center;
		width: 1em;
		@include borderRadius(5em);
		@include font-size(7);
	}
	.link {
		cursor: pointer;
		margin-top: -0.5em;
		margin-left: -1.25em;
		top: -1em;
		@include transition(top 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.look {
		bottom: -1em;
		margin-bottom: -0.5em;
		margin-left: 0.25em;
		@include transition(bottom 200ms);
		&:only-child {
			margin-left: -0.5em;
		}
	}
	.overlay {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 52;
	}
	&:hover {
		.overlay {
			background-color: rgba($color-primary, 0.6);
		}
		.link {
			top: 50%;
		}
		.look {
			bottom: 50%;
		}
	}
	img {
		display: block;
	}
}

.date {
	background: $color-black25;
	color: $white;
	display: inline-block;
	margin-bottom: 1.5em;
	padding: 7px 25px 10px;
	text-transform: uppercase;
	@include font-size(1.5);
}

.icon {
	font-family: $fontIcon;
	-webkit-font-smoothing: antialiased;
}

.icon-social {
	font-family: $fontSocial;
	-webkit-font-smoothing: antialiased;
}

.clock {
	@extend .icon;
	padding-right: 7px;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
	@include font-size(3.3);
}

.port-title {
	color: $color-black50;
	font-weight: 300;
}

.port-info {
	padding: 0 4em 3em;
	p a {
		color: $color-primary;
		text-decoration: underline;
	}
}

.tags p {
	color: $color-primary;
}

.page-numbers {
	background: $color-primary;
	border-bottom: 2px solid $color-primaryBorder;
	color: $white;
	font-size: 13px;
	padding: 1em;
	@include borderRadius;
	&:hover {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
	&.current {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
}

// =========================================================
// PAGES
// =========================================================
.single .post,
.page-content {
	padding: 2em;
	@media(min-width: 768px) {
		padding: 4em;
	}
}

.page-intro {
	color: $color-pageIntro;
	line-height: 26px;
	line-height: 2.6rem;
	margin: -0.5em auto 1.8em;
	text-align: center;
	@include font-size(1.6);
	@media (min-width: 768px) {
		max-width: 600px;
	}
}

// About
.page-content {
	h3 {
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	ul {
		list-style: disc;
		margin-left: 3em;
	}
}

.page-title {
	font-weight: 900;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	&:after {
		background-color: $color-primary;
		content: '';
		display: block;
		font-size: 30px;
		height: 2px;
		margin: 0.5em auto 1em;
		width: 3em;
	}
}

// Contact
.map {
	overflow: hidden;
	@include borderRadius;
}

.point {
	background: #f16e52;
	background-position: -1px -1px;
	display: block;
	height: 1em;
	left: 132px;
    position: absolute;
    top: 140px;
	width: 1em;
	@include borderRadius(50%);
	@include box-shadow(0 1px 6px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.2) inset);
	.glow {
		display: block;
		height: 100%;
		left: 0px;
        position: relative;
        top: 0px;
		width: 100%;
		-webkit-animation: blip 1200ms infinite;
		@include borderRadius(50%);
		@include box-shadow (0 0 0.2em 0.12em #f16e52);
	}
}


input,
input[type="password"],
input[type="search"],
textarea {
	background: #f1f1f1;
	border: 0;
	color: $color-textTitle;
	line-height: 1.5;
	margin-bottom: 0.800em;
	padding: 11px;
	padding: 1.1rem;
	width: 100%;
	@include font-size(1.4);
	@include borderRadius;
}

input,
textarea {
	border: 2px solid #f1f1f1;
	margin-top: 0;
}

input:focus,
textarea:focus {
	background: white;
	border: 2px solid #f16e52;
	border-radius: 2px;
	color: #3c3c3c;
	outline: none;
}

textarea {
	line-height: 1;
}

span.wpcf7-not-valid-tip {
	background: #f16e52;
	border: 0;
	color: $white;
	padding: 0.5em;
	top: -9px;
	@include borderRadius;
}

.wpcf7-submit {
	background: $color-primary;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid $color-primaryBorder;
	color: $white;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 15px;
	text-transform: uppercase;
	@include borderRadius;
	&:visited {
		@extend .wpcf7-submit;
	}
	&:focus {
		@extend .wpcf7-submit;
	}
	&:hover {
		background: $color-accent;
		border-bottom: 2px solid $color-accentBorder;
	}
}

div.wpcf7-validation-errors {
	background: #eee;
	border: 0;
	font-size: 14px;
	margin: 0;
	padding: 1em;
	@include borderRadius;
}

span.wpcf7-not-valid-tip {
	left: 35%;
	width: 180px;
}

.wpcf7-not-valid-tip::before {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #f16e52;
	content: '';
	display: block;
	height: 0;
	left: -7px;
	position: absolute;
	width: 0;
}

div.wpcf7-validation-errors {
	color: #555;
}

.ajax-loader {
	display: none;
}


// =========================================================
// CONTENT BOILER PLATE
// =========================================================
h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
	font-style: $headerFontStyle;
	font-weight: $headerFontWeight;
	text-rendering: optimizeLegibility;
	a:hover {
		color: $color-primary;
	}
}
h1 {
	@include font-size(3.7);
	a {
		@extend h1;
	}
	.archive & {
		padding-bottom: 0.500em;
	}
}
h2 {
	@include font-size(3.0);
	a {
		@extend h2;
	}
}
h3 {
	line-height: 1;
	margin: 1em 0 0.5em;
	padding-bottom: 0.15em;
	@include font-size(2.5);
	a {
		@extend h3;
	}
}
h4 {
	@include font-size(2.1);
	a {
		@extend h4;
	}
}
h5 {
	@include font-size(1.9);
	a {
		@extend h5;
	}
}
h6 {
	@include font-size(1.6);
	a {
		@extend h6;
	}
}

p,
li {
	color: $bodyFontColor;
	font-style: $bodyFontStyle;
	font-weight: $bodyFontWeight;
	line-height: 22px;
	line-height: 2.2rem;
	@include font-size(1.4);
}

a {
	@extend p;
	text-decoration: none;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	@include transition(all 0.2s ease-in-out);
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
    margin: 3em 0;
}


// =========================================================
// ANIMATIONS
// =========================================================

//Logo float on roll over
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

// Glowing Map Marker
@-webkit-keyframes blip {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.6);
    opacity: 0;
  }
}