// You custom settings file to override Foundation defaults
@import "fonts";
@import "settings";

// Comment out this import if you are customizing you imports below
@import "style";
@import "responsive";

* {
  position: relative;
  @include transition(color 300ms, background 300ms);
  @include box-sizing(border-box);
}

.post {
  @extend %group;
}

.port-thumbnail {
  cursor: pointer;
  float: left;
  margin-right: 55px;
  z-index: 50;
  overflow: hidden;
  a {
    display: block;
  }
  .icon {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 50%;
    font-size: 5em;
    text-align: center;
    padding: 0.35em 0;
    background-color: #fff;
    color: $black;
    @include border-radius(5em);
  }
  .link {
    top: -1em;
    margin-top: -0.5em;
    margin-left: -1.25em;
    @include transition(top 200ms);
    &:only-child {
      margin-left: -0.5em;
    }
  }
  .look {
    bottom: -1em;
    margin-bottom: -0.5em;
    margin-left: 0.25em;
    @include transition(bottom 200ms);
    &:only-child {
      margin-left: 0.5em;
    }
  }
  .overlay {
    z-index: 52;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:hover {
    .overlay {
      background-color: rgba($color-primary, 0.6);
    }
    .link {
      top: 50%;
    }
    .look {
      bottom: 50%;
    }
  }
  img {
    display: block;
  }
}